html,
body {
	margin: 0;
	height: 100%;
	color: #0c0d0e;
	overflow: hidden;

	font-family: 'Roboto', sans-serif;
}
nav {
	background-color: darkcyan;
	overflow: hidden;
}
#app-logo {
	width: 50%;
	float: left;
	margin: 10px 0;
}
#app-logo a {
	text-decoration: none;
	color: white;
	padding-left: 3%;
	font-size: xx-large;
}

#ask-button-container {
	float: left;
	width: 50%;
	margin-top: 15px;
}

#ask-button {
	margin-right: 25px;
	text-align: right;
}

#ask-button a {
	text-decoration: none;
	color: white;
}

#main-container {
	width: 100%;
	height: 100%;
}

#left-section-container {
	width: 15%;
	height: 100%;
	float: left;
	/* background-color: rgb(227, 227, 227); */
}
#left-section {
	padding-top: 20px;
	background-color: white;
	width: 100%;
	height: 100%;
}

.left-section-element {
	width: 100%;
	padding: 5px 5% 5px 20%;
}
.left-section-element a {
	color: gray;
	text-decoration: none;
}

#right-section {
	width: 85%;
	overflow: scroll;
	height: 100%;
	float: left;
	background-color: rgb(222, 226, 228);
}

#right-section-content {
	padding: 20px 10% 10% 10px;
}

.thread {
	width: 100%;
	padding: 2% 0;
	margin: 20px 0;
	border: solid 1px rgb(188, 188, 188);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	background-color: white;
}

.thread-info-container {
	width: 10%;
	float: left;
	display: flex;
}

.thread-info {
	margin: 0 10px 0 10px;
	border: solid 1px rgb(188, 188, 188);
	border-radius: 5px;
	text-align: center;
	width: 100%;
	position: relative;
}

.answers-count {
	font-size: x-large;
	padding-top: 20%;
	color: gray;
}

.answers {
	font-size: xx-small;
	color: gray;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
}

.thread-content-container {
	width: 90%;
	float: left;
	color: #0c0d0e;
}

.thread-content {
	margin-right: 10px;
}

.thread-content a {
	text-decoration: none;
	color: darkcyan;
}

.question-date {
	float: right;
	color: gray;
	font-size: small;
}

#home-title {
	font-size: x-large;
	font-weight: normal;
	margin-bottom: 50px;
}

#ask-title {
	width: 100%;
	margin-bottom: 15px;
}

#ask-title input {
	padding: 8px;
	width: 100%;
	border: 1px transparent;
	border-radius: 5px;
}

#ask-text textarea {
	width: 100%;
	padding: 8px;
	border: 1px transparent;
	border-radius: 5px;
}

#ask-submit {
	margin-top: 10px;
}

#ask-submit button {
	padding: 5px;
}

#th-container {
	margin-bottom: 5px;
	background-color: white;
	border-radius: 10px;
	padding: 5px 20px 15px 10px;
}

#th-title-container {
	margin-left: 5px;
	border-bottom: solid 1px gray;
}

#th-title-container p {
	margin: 10px;
}

#th-title {
	font-size: x-large;
	font-weight: 600;
}

#th-text-container {
	margin-left: 20px;
}

#th-text {
	font-size: medium;
}

#reply-container {
	width: 100%;
	overflow: hidden;
}

#reply-text {
	width: 90%;
	float: left;
	height: 100%;
}

#reply-text textarea {
	max-width: 95%;
	width: 95%;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
}

#reply-submit {
	width: 10%;
	float: left;
	height: 100%;
}

#reply-submit input {
	padding: 5px 15px;
	border: none;
}

#answers-container {
	margin-top: 20px;
}

#answers-count p {
	font-size: x-large;
	border-bottom: solid 1px gray;
}

.answer {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	border-bottom: solid 1px gray;
}

.answer-text {
	padding: 10px 0 0 20px;
}
.answer-date {
	color: gray;
	text-align: right;
	padding: 0 20px;
	font-size: x-small;
}
